{% load static %}
<html lang="en">
<head>

  <!-- Modernizr -->
    <script src="{% static 'home/js/modernizr.js' %}"></script>
  <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
  <!-- FlexSlider -->
    <script src="{% static 'home/js/jquery.flexslider.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home/css/flexslider.css' %}" type="text/css">
    <title>Список продукции</title>
</head>

<body>
<!-- Place somewhere in the <body> of your page -->
<div id="slider" class="flexslider">
  <ul class="slides">
    <li>
      <img src="{% static 'home/images/image_1.jpg' %}" />
    </li>
    <li>
      <img src="{% static 'home/images/image_2.jpg' %}" />
    </li>
    <li>
      <img src="{% static 'home/images/image_3.jpg' %}" />
    </li>
    <li>
      <img src="{% static 'home/images/image_1.jpg' %}" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<div id="carousel" class="flexslider">
  <ul class="slides">
    <li>
      <img src="{% static 'home/images/image_1.jpg' %}" />
    </li>
    <li>
      <img src="{% static 'home/images/image_2.jpg' %}" />
    </li>
    <li>
      <img src="{% static 'home/images/image_3.jpg' %}" />
    </li>
    <li>
      <img src="{% static 'home/images/image_1.jpg' %}" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<script src="{% static 'home/js/script_flexslider.js' %}" type="text/javascript"></script>
<!--

{% if list %}
<ul>
    {% for item in list %}
    {% endfor %}
</ul>
{% else %}
<p>No questions are available.</p>
{% endif %}
-->
</body>
</html>


