{% extends 'site/main.html' %}
{#{% block nav_brand %}#}
{#{% endblock %}#}
{% block head %}
<style>
td a {
    width: available;
    width: -webkit-fill-available;
}
</style>
{% endblock %}
{% block nav_body %}
        {% include 'catalog/nav_body.html' %}
{% endblock %}

{#{% block categories %}#}
{#{% endblock %}#}
{% block content %}
  {% if sum %}
<table class="table table-striped border ">
  <thead class="thead-light">
    <tr>
        <th width="10%">#</th>
        <th width="10%">Товар</th>
        <th width="10%">Количество</th>
        <th width="10%">Цена</th>
        <th width="10%">Итог</th>
            {% if user.profile.balance >= sum %}
        <th width="10%"></th>
            {% endif %}
    </tr>
  </thead>
  <tbody >
  {% for i in items.values %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'catalog:item' i.pk %}">{{ i.name }}</a></td>
        <td>{{ i.amount }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.total_price }}</td>
        {% if user.profile.balance >= sum %}
        <td></td>
        {% endif %}
    </tr>
  {% endfor %}

      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td>Итого:</td>
        <td>{{ sum }}</td>
          {% if user.profile.balance >= sum %}
          <td>
              <a class="btn btn-warning" href="{% url 'catalog:make_deal' %}">Подтвердить</a>
          </td>
          {% endif %}
      </tr>
  </tbody>
</table>
      {% if user.profile.balance < sum %}
                <div class="alert alert-danger d-flex justify-content-between ml-2 mr-2" role="alert">
                    <div>Не хватает средств! На балансе: {{ user.profile.balance }}, необходимо ещё {{ sum|sub:user.profile.balance }} для подтверждения покупки.
                    </div>
                    <a class="btn btn-danger" href="{% url 'catalog:basket' %}">Вернутся в корзину</a>
                </div>

            {% endif %}
      {% else %}
          <div class="m-5">
              <h3 class="text-center"><strong>Ваша корзина пуста!</strong></h3>
              <br>
              <div class="text-center">
                  <a class="btn btn-grey align-self-center" href="{% url 'catalog:catalog' %}">В магазин</a>
              </div>
          </div>
      {% endif %}
{% endblock %}