{% load static %}
{% load  tags %}
            <html lang="en">
                <head>
                    <title>{% block title %}Магазин{% endblock %}</title>
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.css' %}">
                    <link rel="stylesheet" href="{% static 'site/css/style.css' %}">
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
                </head>
                <body>

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">
                  {% block nav_brand %}
                     BoxMarket
                  {% endblock %}</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% block nav_body %}
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            {% endblock %}
              </div>
{% block nav_end %}
{% include 'catalog/l_and_r_btn.html' %}
{% endblock %}
        </nav>
        <div class="card-deck m-0 h-100">
            <div class="col-2 card m-2 text-center">
{% block categories %}
                <h3 class="my-4">Категории</h3>
                    <div class="ml-auto mr-auto w-75">
                            {% include 'catalog/category_in_navigation.html' with a_id='1' background=0.12 main_class=main_class %}
                    </div>
{#{% autoescape off %}#}
{#{% autoescape %}#}
{% endblock %}
            </div>
                <div class="col-8 card m-2 p-0">
{% block content %}
{% endblock %}
                </div>
            <div class="col-2 card m-2 text-center">
                {% block filter %}
                {% endblock %}
            </div>
        </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
                <script src="{% static 'catalog/js/catalog.js' %}"></script>
    </body>
</html>